/node_modules
/storage/*.key
/tests/*.database
/vendor
/.idea
/tests/Browser/screenshots/*
/tests/Browser/console/*
/tests/Browser/Pages/*
/tests/Browser/ExampleTest.php
/
Homestead.json
Homestead.yaml
debug.log
.env
.env.dusk.local
.DS_Store
.vscode/launch.json
yarn-error.log
.phpunit.result.cache
