/node_modules
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.dusk
debug.log
.env.dusk.local
tests/sqlite.testing.database
.phpunit.result.cache
.DS_Store
.vscode/launch.json
yarn-error.log