.multilevel-form {
    .form-group-separated {
        margin-bottom: 10px;
        border-bottom: 1px solid #283339;
    }
    .form-group-sub {
        padding-left: 25px;
        margin-left: 10px;
        border-left: 1px solid #283339;
    }
    .form-subheader {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
    }
}
